.single-page {
	overflow: hidden;
}

.login-placeholder {
	position: relative;
	top: -10px;
	background-color: #ffcc00;
	height: 40px;
	padding: 3px;
	width: 100px;
}

.brand {
	font-family: proxima_nova_rgbold, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 0.07em;
}

.nav li a {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.07em;
}


.wrapper {
	margin: 120px 0px 25px 0px;
	z-index: 10;
	position: relative;
}


.wrapper-inner h3 {
	margin-top: 10px;
	text-transform: capitalize;
}

.wrapper-inner h4 {
	margin-top: 0px;
	text-transform: uppercase;
}